{% extends 'base.html' %}
{% load catalogue_plants %}


{% block content %}
    {% if plants %}
        <!-- Display div "plant" with information about every plant (if any)-->
        <section id="catalogue">

        {% for plant in plants %}

            <div class="plant-card">
                <div class="image-wrap">
                    <!-- plant image -->
                    <img src="{{ plant.image_url }}"
                         alt="{{ plant.plant_type }}">
                </div>
                <!-- plant name -->
                <h3>{{ plant.name }}</h3>
                <!-- plant description -->
                <h1>{{ plant.description|get_first_20_chars }}</h1>
                <div class="details-buttons">
                    <!-- plant details button -->
                    <a href="{% url 'plant details' plant.pk %}" class="details-btn">Details</a>
                </div>
            </div>

        {% endfor %}

    {% else %}

        <!-- Display paragraph: If there are no plants yet-->
        <p class="no-articles">No plants yet</p>

    {% endif %}

</section>
{% endblock %}